$days: (
  'mon': 0,
  'tue': 1,
  'wed': 2,
  'thu': 3,
  'fri': 4,
  'sat': 5,
  'sun': 6,
);
$days-amount: 31;
$color-back: #eee;
$font-base: Arial, sans-serif;
$font-size: 30px;
$paddings: 10px;
$border: 1px solid black;
$gap: 1px;
$day-size: 100px;
$columns: 7;
$calendar-width: ($day-size * $columns) + ($gap * ($columns - 1)) + (2 * $paddings);
